extends layout

block content
  h4 #{schedule.schedulename}
  p(style="white-space:pre;") #{schedule.memo}
  p 作成者: #{schedule.user.username}
  - var isMine = parseInt(user.id) === schedule.user.user_id
    if isMine
      div
        a(href=`/schedules/${schedule.schedule_id}` + "/edit") この予定を編集する
  h3 出欠表
  table
    tr
      th 予定
      each user in users
        th #{user.username}
    each candidate in candidates
      tr
        th #{candidate.candidateName}
        each user in users
          - var availability = availabilityMapMap.get(user.user_id).get(candidate.candidate_id)
          - var availabilityLabels = ['欠', '?', '出る'];//0:欠,1:?,2:出 で表示されるようになっている
          td
            if user.isSelf
              button(
                data-schedule-id=schedule.schedule_id
                data-user-id=user.user_id
                data-candidate-id=candidate.candidate_id
                data-availability=availability).availability-toggle-button #{availabilityLabels[availability]}
            else
              p #{availabilityLabels[availability]}
    tr
      th コメント
      each user in users
        if user.isSelf
          td
            p#self-comment #{commentMap.get(user.user_id)}
            button(
              data-schedule-id=schedule.schedule_id
              data-user-id=user.user_id)#self-comment-button 編集
        else
          td
            p #{commentMap.get(user.user_id)}