extends layout

block content
  h4 #{schedule.schedulename}
  p(style="white-space:pre;") #{schedule.memo}
  p 作成者: #{schedule.user.username}
  h3 出欠表
  table
    tr
      th 予定
      each user in users
        th #{user.username}
    each candidate in candidates
      tr
        th #{candidate.candidateName}
        each user in users
          - var availability = availabilityMapMap.get(user.user_id).get(candidate.candidate_id)
          - var availabilityLabels = ['欠', '?', '出る'];//0:欠,1:?,2:出 で表示されるようになっている
          td
            if user.isSelf
              button #{availabilityLabels[availability]}
            else
              p #{availabilityLabels[availability]}